@model System.Collections.Generic.List<Lesula.Client.Contracts.Models.DataSource>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
              
        </div>
    </body>
</html>