<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CassandraConfiguration" type="Lesula.Cassandra.Configuration.CassandraConfigurationSection,Lesula.Cassandra" />
  </configSections>

  <!-- Cassandra -->
  <CassandraConfiguration rebuildDelay="300">
    <clusters>
      <add friendlyName="UpStore" maximumRetries="3">
        <connection poolType="SIZEDKEYSPACEPOOL" factoryType="FRAMED" />
        <!-- <endpointManager type="ROUNDROBIN" defaultTimeout="6000" factory="simpledb" source="Prod Cluster"> -->
        <endpointManager type="ROUNDROBIN" defaultTimeout="6000">
          <cassandraEndpoints>
            <add address="localhost" port="9160" />
          </cassandraEndpoints>
        </endpointManager>
      </add>
      <add friendlyName="OneToOne.Practices.Configuration" maximumRetries="3">
        <connection poolType="SIZEDKEYSPACEPOOL" factoryType="FRAMED" />
        <!-- <endpointManager type="ROUNDROBIN" defaultTimeout="6000" factory="simpledb" source="Prod Cluster"> -->
        <endpointManager type="ROUNDROBIN" defaultTimeout="6000">
          <cassandraEndpoints>
            <add address="localhost" port="9160" />
          </cassandraEndpoints>
        </endpointManager>
      </add>
    </clusters>
  </CassandraConfiguration>

</configuration>