@model IEnumerable<Lesula.Admin.Contracts.Models.User>
@{
    ViewBag.Title = "Index";
}
<h2>Users</h2>
@using Telerik.Web.Mvc.UI
@(Html.Telerik().Grid(Model).Name("Users")
.ToolBar(tb => tb.Custom().ButtonType(GridButtonType.Text).Action("Create", "User").Text("New").HtmlAttributes(new { @class = "new" }))
.Columns(cols =>
        {
            cols.Bound(c => c.Name);
            cols.Bound(c => c.Email);
            cols.Bound(c => c.Roles);
            cols.Template(c => Html.Raw("<a class=\"edit\" href=\"" + Url.Action("Edit", new { id = ViewBag.StoreId, rowKey = c.Email }) + "\">Edit</a>")).Title("Actions");
        }
))
<script type="text/javascript">
    $('.new').button({ icons: { primary: "us-add"} }); /* ui-icon-close */
    $('.edit').button({ icons: { primary: "us-edit"} }); /* "ui-icon-pencil" */
    $('.delete').button({ icons: { primary: "us-close"} }); /* ui-icon-close */

    /* create the search text function */
    searchOnGrid(
            {
                filterName: 'filter',
                lines: '.t-grid table tr',
                toolbar: '.t-grid-toolbar'
            }
        );
</script>
